footer {
  background-color: #007BFF;
  text-align: center;
  color: #fff;
  font-size: 14px;
  position: absolute;
  bottom: 0;
  width: 100%;

  p {
    margin: 2px;
    font-family: 'Google Sans',arial,sans-serif;
  }
}
